@import url('https://fonts.googleapis.com/css?family=Chonburi|Forum&display=swap');

#landingPage{
  height: 100vh;
  background-image: url('../../assets/080.JPG');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin-bottom: 30px;
}

#mainInfo {
  background-color: #31313348;
  width: 100%;
  text-align: left;
  position: relative;
  top: 50vh;
  padding: 40px;
  padding-left: 12vw;
  border-radius: 50px;
}

#mainInfo > h1 {
  font-family: 'Forum', cursive;
  color: white;
  font-size: 6em;
  margin-bottom: 20px;
  font-weight: bold;
}

#mainInfo > h2 {
  font-family: 'Forum', cursive;
  color: white;
  font-size: 4em;
  margin-bottom: 20px;
  font-weight: bold;
}

button {
  display: block;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}

#mainInfo > svg {
  font-size: 3.5em;
  color: white;
}